@font-face {
    font-family: 'Favorit';
    src: URL('font/Favorit-Regular.ttf') format('truetype');
  }

*{
    box-sizing: border-box;
    margin: 0;
    cursor: none;
}
body{
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-columns: 10;
    column-gap: 2.5rem;
}
img {
    height: 3rem;
}
.mark{
    position: absolute;
    top: 40px;
    left: 40px;
}
.burger{
    position: absolute;
    top: 40px;
    right: 40px;
}

h1{
    font-family: 'Favorit', sans-serif;
    grid-row-start: 1;
    grid-column: 1/7;
    font-size: 6rem;
    font-weight: normal;
    align-self: center;
    padding-left: 2.5rem;
    z-index: 10;
}
canvas{
    grid-row-start: 1;
    grid-column: 1/10;
    height: 100vh;
    width: 100vw;
}

/* cursor */
#cursor {
    background-color: #FFFF00;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
   }